@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body {
    font-family: 'Roboto',sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 200px;
    
    color: #f9faf8;
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.header-section ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.header-section a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.intro-section {
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    gap: 50px;

    color: #f9faf8;
    background-color: #1f2937;
}

.intro-content {
    width: 50%;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
}

.intro-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 8px;
}

.intro-section button {
    padding: 8px 32px;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;

    color: #f9faf8;
    background-color: #3882f6;
    border-style: none;
    border-radius: 8px;
}

.intro-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    background-color: slategray;
}

.info-section {
    display: flex;
    flex-direction: column;
}

.info-title {
    display: flex;
    justify-content: center;
    padding: 50px 200px;

    font-size: 36px;
    font-weight: 900;

    color: #1f2937;
}

.info-content {
    display: flex;
    justify-content: center;
    padding: 0px 200px 100px 200px;
    gap: 50px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.info-item-image {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;

    border: 4px solid #3882f6;
    border-radius: 16px;
}

.info-item-text {
    text-align: center;
    color: dimgray;
}

.quote-section {
    display: flex;
    flex-direction: column;
    padding: 100px 300px 100px 300px;

    color: #1f2937;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    align-self: flex-end;

    font-size: 24px;
    font-weight: 700;
}

.call-section {
    display: flex;
    justify-content: center;
    padding: 100px 200px;
}

.call-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    width: 100%;
    border-radius: 8px;

    background-color: #3882f6;
}

.call-title {
    font-size: 24px;
    font-weight: 700;

    color: #f9faf8;
}

.call-text {
    color: #e5e7eb;
}

.call-section button {
    border: 2px solid #f9faf8;
    border-radius: 8px;
    padding: 8px 32px;

    font-size: 16px;
    font-weight: 700;

    color: #f9faf8;
    background-color: #3882f6;
}

.footer-section {
    display: flex;
    justify-content: center;
    padding: 40px 200px;

    font-size: 18px;

    color: #e5e7eb;
    background-color: #1f2937;
}