@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto',sans-serif;

    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
    color: #f9faf8;
    background-color: #1f2937;
}

.header-logo {
    font-size: 22px;
    font-weight: bold;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 32px;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}